*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:sans-serif;
    background-color: #e2eaff;
    color: #101632dd;
    container-type:size;
    container-name: body;
}
/*  -------  HEADER SECTION  -------  */
.header{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    container-type:inline-size;
    container-name: header;
}
.header__logo{
    width: 64px;
}
.header__open-nav-butom{
    color: #48e;
    font-size: 4rem;
    font-weight: 700;
    padding: 0.4rem;
}
.header__checkbox{
    display: none;
}
.header__checkbox:checked ~ .header__nav {
    display: flex;
}
.header__checkbox:checked ~ .header__nav {
    display: flex;
}

.header__nav{
    display: none;
    background-color: #fff;
    height: 500px;
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 95%;
    padding-left: 10px;
    align-items: center;
}
.header__nav-list{
    display: flex;
    flex-direction: column;
    font-size: 4rem;
}
.header__nav-item{
    list-style: none;
}
.header__nav-item a {
    color: #48e;
    font-size: 1.2rem;
}
.header__nav-item a:not(:is(:hover, :active)){
    text-decoration: none;
}

/*  -------  HEADER QUERIES  -------  */
@container body (min-width: 700px) {
    .header__nav{
        background-color: red;
    }
    .header{
        background-color: red;
    }
}



/*  -------  HEADER ENDS  ------- */
main {
    position: relative;
    z-index: -2;
    display: none;
}
.box{
    margin: 30px;
    background-color: #e2eaff;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.wrapper{
    background-color: #fff;
    display: flex;
    width: 750px;
    
    justify-content: space-evenly;
}

